[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-bootstrap = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy = "==1.3.23"
flask-login = "*"
pip = "*"
wheel = "*"
pipenv = "*"
numpy = "*"
dash = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
