{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} iBoard - register {% endblock %}

{% block content %}
<div class="container theme-showcase form" role="main" style="margin-top: 75px">
<h1>iBoard by <i>Iberia</i> - register</h1>


<form action="{{ url_for('register') }}" method="POST">

{{ form.hidden_tag() }}

{{ wtf.form_field(form.email) }}
{{ wtf.form_field(form.password) }}
{{ wtf.form_field(form.repeat_password) }}

<input type="submit" value="register">

</form>

<div class="form_hint">


<a href="{{ url_for('login') }}">Already registered?</a>

</div>
</div>

{% endblock %}